body{
    background-size: cover;
}

.header{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

.div_speed{
    float: left;
}

.disk_image{
    width: 200px;
    border-radius: 100px;
}

#speed, #volume{
    font-size: 23px;
    margin: 15px;
}

.div_volume{
    float: right;
}

.play_button, .pause_button, .stop_button{
    width: 130px;
    font-size: 25px;
}

canvas{
    border: solid white 5px;
    border-radius: 20px;

}